.App {
    min-height: 100vh;
    text-align: center;
    background-color: #8cad8c;
    color: #113111;
}

.App-header {
    min-height: 20vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ada88c;
    font-size: calc(15px + 3vmin);
}

.App-main {
    padding-top: 5vh;
    max-width: 40vw;
    background-color: #8cad8c;
    color: #113111;
    margin: auto;
}

h1 {
    margin: 0;
}
